.blogcard {
    position: relative;
    margin: 2em 0;
    padding: 1.4em 1.5em;
    border-radius: 8px;
    background-size: calc(10 * 1px) calc(10 * 1px);
    color: #eee;
}
.blogcard a {
  text-decoration: none !important;
  color: inherit !important;
  text-underline-offset: unset !important;
}
.blogcard a {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 12px 15px;
    border-radius: 2px;
    background: #ffff;
}
.blogcard a:hover {
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
    transform: translateY(-4px);
}
.blogcard_thumbnail {
    width: 22%;
    margin-right: 5%;
    display: inline-block;
    height: 140px;
}
.blogcard_thumbnail img {
    width: 100%;
    object-fit: cover;
    height: inherit;
}
.blogcard_content {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blogcard_title p {
    font-size: 1.1rem;
    color: #313131;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.6;
}
.blogcard_description p {
    font-size: 0.8rem;
    color: #313131;
    font-weight: 400;
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}
.blogcard_link span {
    position: relative;
    left: 0;
    top: 0;
    padding: 2px 10px;
    font-size: 0.6rem;
    background: #58a9ef;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 7px;
    border-radius: 3px;
}
.blogcard_link {
    font-size: 0.7rem;
    text-decoration: none;
    color: #999;
    overflow-wrap: anywhere;
}
@media screen and (max-width: 767px) {
/* （ここにモバイル用スタイルを記述） */
.blogcard {
    padding: 35px 10px 15px;
}
.blogcard a {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
}
.blogcard_thumbnail {
    width: 100%;
    margin: 0 0 15px;
    height: auto;
}
.blogcard_thumbnail img {
    object-fit: cover;
    height: 50vw;
    width: 100%;
    object-position: center;
}
.blogcard_content {
    width: 100%;
    padding: 0 1.2rem 1.2rem;
}
}
