$color_twitter: #55acee;
$color_facebook: #3b5999;
$color_line: #00c300;
$color_instagram: #E4405F;
$color_youtube: #cd201f;

body {
  color: #222;
  font-family: Noto Sans JP,-apple-system,blinkmacsystemfont,Segoe UI,Hiragino Kaku Gothic ProN,BIZ UDPGothic,meiryo,sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1.7;
}

.container {
  width: 100%;
  padding: 0 24px 24px;
  display: grid;
  min-height: calc(100vh - 56px);
  grid-template-rows: auto 1fr auto;

  @media screen and (max-width: 1024px) {
    padding: 0 12px 24px;
  }
}

.header {
  padding-top: 16px;
  color: #fff;
}

.footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 100%;
  min-height: 56px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 16px 24px;
  display: flex;
  
  .footer__inner {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 480px) {
      display: inline-grid;
      gap: 14px;
      width: auto;
    }
  }

  .footer__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 64px 24px;
  }

  #footer-menu-list {
    display: inline-flex;
    font-size: 14px;
    text-decoration: underline;
    gap: 8px;
    @media screen and (max-width: 480px) {
      flex-flow: column;
      gap: 0;
    }
  }

  small {
    font-size: 14px;
    line-height: 16px;
  }
}

h1 {
  margin: 0 12px;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  margin-top: 16px;
  margin-bottom: 16px;
  @media screen and (max-width: 1024px) {
    font-size: 28px;
  }
}

h2,h3 {
  margin: 32px 12px;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  @media screen and (max-width: 1024px) {
    font-size: 24px;
  }
}

.main {
  width: 100%;
  max-width: 1024px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    margin-top: 100px;
  }

  --matched-radius-padding: 8px;
  --matched-radius-inner-size: 12px;
 
  padding: var(--matched-radius-padding);
  border-radius: calc(
    var(--matched-radius-inner-size) + var(--matched-radius-padding)
  );

  .main__inner {
    background: #fff;
    padding: 24px 48px 48px;
    border-radius: var(--matched-radius-inner-size);
    @media screen and (max-width: 1024px) {
      padding: 24px 24px 48px;
    }
  }

  .main__head {
    position: relative;
    top: -72px;
    margin-bottom: -34px;
    display: flex;
    flex-flow: column;

    .main__head__icon {
      height: 90px;
      width: 90px;
      margin: 0 auto;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    .main__head__name {
      font-size: 36px;
      text-align: center;
      margin-top: 12px;
    }
    .main__head__job {
      text-align: center;
      opacity: 0.7;
    }

    h2 {
      margin-bottom: 0;
    }
  }

  .main__section__title {
    text-align: center;
    font-weight: 500;
  }

  .main__introduction {
    text-align: center;
    margin-bottom: 32px;
  }

  .main__sns {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 64px auto;
    justify-content: center;
    @media screen and (max-width: 480px) {
      gap: 32px;
    }

    img {
      height: 40px;
    }

    a {
      transition: all .3s ease;
      &:hover {
        transform: translateY(-5px);
      }
    }

    .main__sns__facebook {
      filter: invert(37%) sepia(26%) saturate(4383%) hue-rotate(198deg) brightness(96%) contrast(97%);
    }
    .main__sns__twitter {
      filter: invert(62%) sepia(38%) saturate(5930%) hue-rotate(176deg) brightness(97%) contrast(96%);
    }
    .main__sns__youtube {
      filter: invert(22%) sepia(77%) saturate(2853%) hue-rotate(348deg) brightness(86%) contrast(97%);
    }
    .main__sns__instagram {
      filter: invert(39%) sepia(39%) saturate(5418%) hue-rotate(327deg) brightness(94%) contrast(89%);
    }
    .main__sns__tiktok {
      filter: invert(22%) sepia(66%) saturate(7487%) hue-rotate(337deg) brightness(99%) contrast(89%);
    }
    .main__sns__line {
      filter: invert(38%) sepia(96%) saturate(1446%) hue-rotate(90deg) brightness(107%) contrast(108%);
    }
  }

  .main__news {
    padding-top: 32px;
    .posts-wrapper {
      max-width: 680px;
      margin-left: auto !important;
      margin-right: auto !important;

      li {
        border-bottom: 0.5px solid #919191;
      }

      .post-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        padding: 12px;
        @media screen and (max-width: 1024px) {
          gap: 0;
          flex-wrap: wrap;
          padding: 12px 0;
        }

        li {
          border: 0.5px solid #919191;
          padding: 0 8px;
        }

      }

      a {
        padding: 0;
        text-decoration: none;
      }

      .post-date {
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }

      .post-category {
        @media screen and (max-width: 1024px) {
          margin-right: 8px;
        }
      }
    }
  }

  .main__banner {
    padding-top: 64px;
    .main__banner__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap:24px;
      width: 100%;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
      .main__banner__wrapper__item {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
        transition: all .3s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 10px 0 rgba(0,0,0,.15);
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .main__work {
    padding-top: 32px;
    .main__work__wrapper {
      display: grid;
      gap:32px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      grid-template-columns: 1fr 1fr;

      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
        gap:24px;
      }
    }
    .main__work__wrapper__item {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      border-radius: 16px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
      transition: all .3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px 0 rgba(0,0,0,.15);
      }

      .post-link-area {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      img {
        width: 100%;
        border-radius: 16px 16px 0 0;
      }

      a {
        display: block;
        height: fit-content;
        text-decoration: none;
      }
    }

    .main__work__post__title {
      padding: 12px 16px 0;
      h3 {
        font-size: 18px;
        margin: 0;
      }

    }
  }

  .main__contact {
    padding-top: 32px;
    p {
      text-align: center;
    }
  }
}

// タグ・最終更新日付エリア
.post-tag-area,
.main__work__post__meta {
  padding: 0 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

// タグエリア
.post-tag-area {
  ul {
    display: flex;
    gap: 8px;
  }

  a {
    font-size: 14px;
    color: #0017CC;
    text-decoration: underline !important;
    &::before {
      content: "#";
    }
    &:hover {
      color: #010082;
    }
  }
}

// 最終更新日付
.post-date-modified {
  opacity: 0.7;
  font-size: 12px;
}

// パンくずリスト
#bread-crumb {
	margin: 0 auto;
	width: 100%;
	font-size: .9rem;
	padding: 16px 0;


  a {
    color: #0017CC;
    text-decoration: underline;
    &:hover {
      color: #010082;
    }
    &:visited {
      color: #010082;
    }
  }
}
#bread-crumb__inner {
	padding-left: 2px;

  .breadcrumb-item {
    display: inline-block;
    letter-spacing: 0.06rem;
  }
  .breadcrumb-parts{
    opacity: 0.7;
    display: inline-block;
    transform: scale(0.66);
    margin: 0 2px;
  }
}

// カテゴリ・タグ一覧表示のデザイン調整
.breadcrumb__wrapper {
  margin-bottom: 32px;
}

// 404ページ
.notfound {
  text-align: center;
  margin-bottom: 32px;
}

// ページネーション
.pagination {
  margin: 32px auto;
  .nav-links {
    text-align: center;
  }
  .nav-links .current {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 1px solid #333;
    border-radius: 50%;
    background: #333;
    color: #fff;
    font-size: 1.4rem;
    line-height: 30px;
  }
  .nav-links .dots {
    display: inline-block;
    margin: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 30px;
  }
  .nav-links a.page-numbers {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 30px;
  }
  .nav-links a.page-numbers:hover {
    opacity: 0.7;
    transition: all .3s ease;
  }
  .nav-links a.prev.page-numbers,
  .nav-links a.next.page-numbers {
    width: auto;
    padding-right: 6px;
    padding-left: 6px;
  }
  .nav-links a.prev.page-numbers:hover,
  .nav-links a.next.page-numbers:hover {
    opacity: 0.7;
  }
}

// もっと見るボタン
.more_read_link {
  margin: 24px auto;
  display: block;
  width: fit-content;
  min-width: 200px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 16px;
  border: 4px solid #333;
  transition: all .3s ease;
  text-decoration: none;
  &:hover {
    transform: translateY(-5px);
  }
}

// 標準のボタンにもホバーアニメーションを追加
.wp-block-button__link {
  transition: all .3s ease;
  &:hover {
    transform: translateY(-5px);
  } 
}

// トップに戻るボタン
#return__top {
  .pagetop {
    height: 70px;
    width: 70px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: 4px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    font-size: 16px;
    font-weight: bold;

    @media screen and (max-width: 1024px) {
      height: 60px;
      width: 60px;
      right: 5px;
      bottom: 10px;
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      right: calc(50% - 600px);
    }

  }

  .pagetop__arrow {
    height: 12px;
    width: 12px;
    border-top: 3px solid #333;
    border-right: 3px solid #333;
    transform: translateY(10%) rotate(-45deg);
  }
}