body {
  color: #222;
  font-family: Noto Sans JP, -apple-system, blinkmacsystemfont, Segoe UI, Hiragino Kaku Gothic ProN, BIZ UDPGothic, meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.7;
}

.container {
  width: 100%;
  padding: 0 24px 24px;
  display: grid;
  min-height: calc(100vh - 56px);
  grid-template-rows: auto 1fr auto;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 12px 12px;
  }
}

.backcolor {
  width: 100%;
  height: 400px;
  background: linear-gradient(red, white);
  position: absolute;
  top: 0;
  z-index: -1;
}

.header {
  padding-top: 16px;
  color: #fff;
}

.footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 100%;
  min-height: 56px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 16px 0;
}
.footer .footer__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 24px;
}
.footer small {
  text-align: center;
  font-size: 14px;
}

h1 {
  margin: 12px 0;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.04em;
}

h2 {
  margin: 0 12px;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  margin: 32px 12px;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 24px;
  }
}

.main {
  width: 100%;
  max-width: 1024px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  --matched-radius-padding: 8px;
  --matched-radius-inner-size: 12px;
  padding: var(--matched-radius-padding);
  border-radius: calc(var(--matched-radius-inner-size) + var(--matched-radius-padding));
}
@media screen and (max-width: 1024px) {
  .main {
    margin-top: 100px;
  }
}
.main .main__inner {
  background: #fff;
  padding: 24px 48px 48px;
  border-radius: var(--matched-radius-inner-size);
}
@media screen and (max-width: 1024px) {
  .main .main__inner {
    padding: 24px 24px 48px;
  }
}
.main .main__head {
  position: relative;
  top: -72px;
  margin-bottom: -34px;
  display: flex;
  flex-flow: column;
}
.main .main__head .main__head__icon {
  height: 90px;
  width: 90px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}
.main .main__head .main__head__icon img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.main .main__head .main__head__name {
  text-align: center;
  margin-top: 12px;
}
.main .main__head .main__head__job {
  text-align: center;
  color: #aaa;
}
.main .main__head h2 {
  margin-bottom: 0;
}
.main .main__section__title {
  text-align: center;
  font-weight: 500;
}
.main .main__introduction {
  text-align: center;
  margin-bottom: 60px;
}
.main .main__sns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto 48px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .main .main__sns {
    gap: 32px;
  }
}
.main .main__sns img {
  height: 40px;
}
.main .main__sns a {
  transition: all 0.3s ease;
}
.main .main__sns a:hover {
  transform: translateY(-5px);
}
.main .main__sns .main__sns__facebook {
  filter: invert(37%) sepia(26%) saturate(4383%) hue-rotate(198deg) brightness(96%) contrast(97%);
}
.main .main__sns .main__sns__twitter {
  filter: invert(62%) sepia(38%) saturate(5930%) hue-rotate(176deg) brightness(97%) contrast(96%);
}
.main .main__sns .main__sns__youtube {
  filter: invert(22%) sepia(77%) saturate(2853%) hue-rotate(348deg) brightness(86%) contrast(97%);
}
.main .main__sns .main__sns__instagram {
  filter: invert(39%) sepia(39%) saturate(5418%) hue-rotate(327deg) brightness(94%) contrast(89%);
}
.main .main__sns .main__sns__tiktok {
  filter: invert(22%) sepia(66%) saturate(7487%) hue-rotate(337deg) brightness(99%) contrast(89%);
}
.main .main__sns .main__sns__line {
  filter: invert(38%) sepia(96%) saturate(1446%) hue-rotate(90deg) brightness(107%) contrast(108%);
}
.main .main__news {
  margin-bottom: 60px;
}
.main .main__news .posts-wrapper li {
  border-bottom: 0.5px solid #919191;
}
.main .main__news .posts-wrapper a {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 12px;
}
@media screen and (max-width: 1024px) {
  .main .main__news .posts-wrapper a {
    gap: 0;
    flex-wrap: wrap;
    padding: 12px 0;
  }
}
@media screen and (max-width: 1024px) {
  .main .main__news .posts-wrapper .news-date {
    width: 100%;
  }
}
.main .main__banner {
  margin-bottom: 60px;
}
.main .main__banner .main__banner__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}
.main .main__banner .main__banner__wrapper .main__banner__wrapper__item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.main .main__banner .main__banner__wrapper .main__banner__wrapper__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
}
.main .main__banner .main__banner__wrapper .main__banner__wrapper__item img {
  width: 100%;
}
.main .main__banner .main__banner__wrapper .main__banner__wrapper__item a:hover {
  opacity: 0.7;
}
.main .main__work {
  margin-bottom: 60px;
}
.main .main__work .main__work__wrapper {
  display: grid;
  gap: 32px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 480px) {
  .main .main__work .main__work__wrapper {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
.main .main__work .main__work__wrapper__item {
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.main .main__work .main__work__wrapper__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
}
.main .main__work .main__work__wrapper__item .post-link-area {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main .main__work .main__work__wrapper__item img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.main .main__work .main__work__wrapper__item a {
  display: block;
  height: fit-content;
  text-decoration: none;
}
.main .main__work .main__work__post__title {
  padding: 0 16px;
}
.main .main__work .main__work__post__title h3 {
  font-size: 18px;
  margin: 8px 0;
}
.main .main__contact p {
  text-align: center;
}

.post-tag-area,
.main__work__post__meta {
  padding: 0 16px 16px;
}

.post-tag-area ul {
  display: flex;
  gap: 8px;
}
.post-tag-area a {
  font-size: 14px;
  color: #0017CC;
  text-decoration: underline !important;
}
.post-tag-area a::before {
  content: "#";
}
.post-tag-area a:hover {
  color: #010082;
}

.post-date-modified {
  opacity: 0.7;
  font-size: 12px;
}

#breadCrumb {
  margin: 0 auto;
  width: 100%;
  font-size: 0.9rem;
  padding: 16px 0;
}
#breadCrumb a {
  color: #0017CC;
  text-decoration: underline;
}
#breadCrumb a:hover {
  color: #010082;
}
#breadCrumb a:visited {
  color: #010082;
}

#breadCrumbInner {
  padding-left: 2px;
}
#breadCrumbInner .breadcrumb-item {
  display: inline-block;
  letter-spacing: 0.06rem;
}
#breadCrumbInner .breadcrumb-parts {
  opacity: 0.7;
  display: inline-block;
  transform: scale(0.66);
  margin: 0 2px;
}

.notfound {
  text-align: center;
  margin-bottom: 60px;
}

.pagination {
  margin: 32px auto;
}
.pagination .nav-links {
  text-align: center;
}
.pagination .nav-links .current {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 1px solid #333;
  border-radius: 50%;
  background: #333;
  color: #fff;
  font-size: 1.4rem;
  line-height: 30px;
}
.pagination .nav-links .dots {
  display: inline-block;
  margin: 8px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}
.pagination .nav-links a.page-numbers {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 30px;
}
.pagination .nav-links a.page-numbers:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.pagination .nav-links a.prev.page-numbers,
.pagination .nav-links a.next.page-numbers {
  width: auto;
  padding-right: 6px;
  padding-left: 6px;
}
.pagination .nav-links a.prev.page-numbers:hover,
.pagination .nav-links a.next.page-numbers:hover {
  opacity: 0.7;
}

.more_read_link {
  margin: 32px auto;
  display: block;
  width: 200px;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
  border: 4px solid #333;
  transition: all 0.3s ease;
  text-decoration: none;
}
.more_read_link:hover {
  transform: translateY(-5px);
}/*# sourceMappingURL=styles.css.map */